body {
    background-color: black;
    color: white;
    font-family: "Agdasima", fantasy;

}

body::before {
    content: "";
    background-image: url(../imagens/background3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.17;
}

.cabecalho {
    display: flex;
    justify-content: center;
}

.selecao-de-personagens {
    display: flex;
    align-items: center;
    gap:90px;
    min-height: calc(100vh - 152px);
    justify-content: center;
    
}

.selecao-de-personagens .lista-de-personagens {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:18px;

}

.selecao-de-personagens .personagens {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 786px;
    gap: 30px;
}

.selecao-de-personagens .personagens .titulo {
    font-size: 23px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 2px solid white;
    width: 100%;
}

.lista-de-personagens .personagem img {
    height: 100%;
    width: 100%;
}

.selecao-de-personagens .personagens .lista-de-personagens .personagem.selecionado {
    box-shadow: 0px 0px 24px 3px rgb(255, 255, 255);
    
}

.personagem-selecionado {
    text-align: center;
    max-height: 630px;
}


.personagem-selecionado .nome-personagem {
    border-bottom: 2px solid white;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top:10px;
}

.personagem-selecionado .descricao-personagem {
    font-size: 21px;
    letter-spacing: 2px;
    line-height: 23px;
    text-align: center;
    margin-top: 20px;
    width: 460px;
}